In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df=sns.load_dataset("mpg")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [6]:
df["mpg"].skew()

0.45706634399491913

In [8]:
df.skew()

C:\Users\Admin\AppData\Local\Temp\ipykernel_5716\1665899112.py:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.skew()

mpg             0.457066
cylinders       0.526922
displacement    0.719645
horsepower      1.087326
weight          0.531063
acceleration    0.278777
model_year      0.011535
dtype: float64

In [15]:
df["horsepower_new"] = df["horsepower"]**(1/3)

In [16]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horsepower_new
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,5.065797
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,5.484807
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,5.313293
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,5.313293
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,5.192494

In [17]:
df["horsepower_new"].skew()

0.6132504951168221

In [18]:
df.kurtosis()

C:\Users\Admin\AppData\Local\Temp\ipykernel_5716\615572439.py:1: FutureWarning: The default value of numeric_only in DataFrame.kurt is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.kurtosis()

mpg              -0.510781
cylinders        -1.376662
displacement     -0.746597
horsepower        0.696947
weight           -0.785529
acceleration      0.419497
model_year       -1.181232
horsepower_new   -0.211118
dtype: float64

In [19]:
import statistics
data = [2,4,6,8,10]
statistics.pstdev(data)

2.8284271247461903