In [9]:
import pandas as pd
import statistics
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [10]:
data1 = [45,42,42,41,40]
data2 = [54,48,42,33,33]

In [11]:
print(statistics.mean(data1))
print(statistics.mean(data2))

42
42

In [12]:
max(data1) - min(data1)

5

In [13]:
max(data2) - min(data2)

21

In [14]:
statistics.variance(data1)

3.5

In [15]:
statistics.variance(data2)

85.5

In [16]:
statistics.pstdev(data1)

1.6733200530681511

In [17]:
statistics.pstdev(data2)

8.270429251254134

In [18]:
df=sns.load_dataset("mpg")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [19]:
max(df["mpg"]) - min(df["mpg"])

37.6

In [21]:
max(df["weight"]) - min(df["weight"])

3527

In [24]:
statistics.mean(df["mpg"])

23.514572864321607

In [25]:
statistics.variance(df["mpg"])

61.08961077427439

In [26]:
statistics.pstdev(df["mpg"])

7.806159061274432

In [27]:
statistics.mean(df["weight"])

2970.424623115578

In [28]:
statistics.variance(df["weight"])

717140.9905256763

In [29]:
statistics.pstdev(df["weight"])

845.7772335198174

In [32]:
age = [20,25,26,29,30,32,35]
statistics.median(age)

29

In [33]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000