In [4]:
import statistics
import seaborn as sns
data1 = [45,42,42,41,40]
data2 = [54,48,42,33,33]

In [5]:
statistics.mean(data1)

42

In [6]:
statistics.mean(data2)

42

### Coefficient of variation

In [9]:
cov1 = (statistics.pstdev(data1)/statistics.mean(data1))*100
cov2= (statistics.pstdev(data2)/statistics.mean(data2))*100
print(f"cov1:{cov1}")
print(f"cov2:{cov2}")

cov1:3.984095364447979
cov2:19.691498217271747

In [10]:
df=sns.load_dataset("mpg")
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320

In [18]:
(statistics.pstdev(df["mpg"])/statistics.mean(df["mpg"]))*100

33.19711187745463

In [16]:
(statistics.pstdev(df["weight"])/statistics.mean(df["weight"]))*100

28.47327708429478