In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import statistics

In [7]:
data=[1,1,12,6,5,7,8,4,5,9,1,2,5,3,7,5]
print(statistics.mean(data))
print(np.mean(data))

5.0625
5.0625

In [36]:
df=sns.load_dataset("mpg")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

### Mean

In [15]:
print(statistics.mean(df["mpg"]))
print(np.mean(df["mpg"]))

23.514572864321607
23.514572864321607

In [16]:
np.mean(df["cylinders"])

5.454773869346734

In [21]:
df.mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_872\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

mpg               23.514573
cylinders          5.454774
displacement     193.425879
horsepower       104.469388
weight          2970.424623
acceleration      15.568090
model_year        76.010050
dtype: float64

In [23]:
data=[1,1,12,6,5,7,8,4,5,9,1,2,5,3,7,5,50]
statistics.mean(data)

7.705882352941177

### Median

In [26]:
data=[1,1,12,6,5,7,8,4,5,9,1,2,5,3,7,5]
statistics.mean(data)

5.0625

In [27]:
data=[1,1,12,6,5,7,8,4,5,9,1,2,5,3,7,5,50]
statistics.median(data)

5

In [28]:
statistics.mode(data)

5

In [33]:
statistics.mode(data)

5

In [37]:
df.mode()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,13.0,4.0,97.0,150.0,1985,14.5,73.0,usa,ford pinto
1,NaN,NaN,NaN,NaN,2130,NaN,NaN,NaN,NaN

In [42]:
df[df["weight"] == 1985].shape[0]

4

In [44]:
df[df["weight"] == 2130].shape[0]

4

In [46]:
statistics.mode(df["name"])

'ford pinto'